html{
     width: 100%;
     background-color: gray;
}

body{
     width: 80%;
     height:100%;
     background-color: white;
}
p {
     font-size: x-large;
     font-family: fantasy;
     color: blue;
}

.q1{
     font-size: x-large;
     font-family: cursive;
     color: green;
}
